@import "_base";

h1, h2, h3, h4, h5, h6 { font-family: Raleway, sans-serif; font-weight:400; }
h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child { margin-top: 0; }

body { margin:0; padding:0; line-height:1.2em; }

#app-container {
  display: flex;
  min-height: 100vh;
  nav {
    flex-basis: 15em;
    padding: 1em;
    background: #222;
    color:#DDD;
    ul {
      list-style-type: none;
      margin:0; padding:0;
      & > li {
        cursor: pointer;
        padding: 0.5em 1em;
        &.active { background:rgba(255,255,255,0.1); }
      }
    }
  }
  section {
    flex-grow: 1;
    padding: 1em;
    background:#FEC;
  }
}

.popup-container .popup {
  position: absolute; min-width: 550px;
  background-color: #FFF;
  padding: 0.5em;
  border: solid 1px #EEE;
  box-shadow: 2px 2px 8px rgba(0,0,0, 0.2);
}

button {
  cursor: pointer;
  padding:0.5em 1em;
  background-color:rgba(100,100,100, 0.2);
  color:#444;
  border: solid 2px #444;
  border-radius: 0.7em;
  &.mini {
    border-width:1px;
    border-radius: 0.4em;
    padding:0.2em 0.5em;
    margin: 0 0.5em;
  }
}
code {
  background-color: rgba(0,0,0, 0.1);
  line-height:1.2em;
  padding:0 0.2em;
}
table.grid {
  border-collapse: collapse; font-size:0.7rem;
  th, td {
    background-color:rgba(255,255,255, 0.6); border:solid 1px #888; padding:0.2em 0.5em;
    .ss, .ms { vertical-align: 0; }
    .ms-split { font-size: 12px; vertical-align:-4px; }
  }
  th { background-color:rgba(255,255,200, 0.6); }
  tr.checked { background-color:rgba(0,0,0, 0.2); }
}
textarea.code {
  font-family:monospace;
}

.card-table {
  display:flex;
  > .content {
    flex: 1;
    max-width: 50em;
    > table.grid {
      width:100%;
    }
    .pagination {
      font-size:0.7rem; text-align:right;
    }
  }
}

#parsedCards { margin-top:2em; }
