body,code{line-height:1.2em}
@font-face{font-family:Raleway;font-style:normal;font-weight:400;src:local('Raleway'),local('Raleway-Regular'),url(https://fonts.gstatic.com/s/raleway/v11/bIcY3_3JNqUVRAQQRNVteQ.ttf) format('truetype')}
@font-face{font-family:Raleway;font-style:normal;font-weight:500;src:local('Raleway Medium'),local('Raleway-Medium'),url(https://fonts.gstatic.com/s/raleway/v11/CcKI4k9un7TZVWzRVT-T8y3USBnSvpkopQaUR-2r7iU.ttf) format('truetype')}
@font-face{font-family:Raleway;font-style:normal;font-weight:600;src:local('Raleway SemiBold'),local('Raleway-SemiBold'),url(https://fonts.gstatic.com/s/raleway/v11/xkvoNo9fC8O2RDydKj12by3USBnSvpkopQaUR-2r7iU.ttf) format('truetype')}
html{box-sizing:border-box}
*,:after,:before{box-sizing:inherit}
h1,h2,h3,h4,h5,h6{font-family:Raleway,sans-serif;font-weight:400}
h1:first-child,h2:first-child,h3:first-child,h4:first-child,h5:first-child,h6:first-child{margin-top:0}
body{margin:0;padding:0}
#app-container{display:flex;min-height:100vh}
#app-container nav{flex-basis:15em;padding:1em;background:#222;color:#DDD}
#app-container nav ul{list-style-type:none;margin:0;padding:0}
#app-container nav ul>li{cursor:pointer;padding:.5em 1em}
#app-container nav ul>li.active{background:rgba(255,255,255,.1)}
#app-container section{flex-grow:1;padding:1em;background:#FEC}
.popup-container .popup{position:absolute;min-width:550px;background-color:#FFF;padding:.5em;border:1px solid #EEE;box-shadow:2px 2px 8px rgba(0,0,0,.2)}
button{cursor:pointer;padding:.5em 1em;background-color:rgba(100,100,100,.2);color:#444;border:2px solid #444;border-radius:.7em}
button.mini{border-width:1px;border-radius:.4em;padding:.2em .5em;margin:0 .5em}
code{background-color:rgba(0,0,0,.1);padding:0 .2em}
table.grid{border-collapse:collapse;font-size:.7rem}
table.grid td,table.grid th{background-color:rgba(255,255,255,.6);border:1px solid #888;padding:.2em .5em}
table.grid td .ms,table.grid td .ss,table.grid th .ms,table.grid th .ss{vertical-align:0}
table.grid td .ms-split,table.grid th .ms-split{font-size:12px;vertical-align:-4px}
table.grid th{background-color:rgba(255,255,200,.6)}
table.grid tr.checked{background-color:rgba(0,0,0,.2)}
textarea.code{font-family:monospace}
.card-table{display:flex}
.card-table>.content{flex:1;max-width:50em}
.card-table>.content>table.grid{width:100%}
.card-table>.content .pagination{font-size:.7rem;text-align:right}
#parsedCards{margin-top:2em}